[Unit]
Description=MED VPN Telegram bot
After=network-online.target hysteria-server.service
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/vicegram-bot-src/med-vpn/bot
EnvironmentFile=/opt/vicegram-bot-src/med-vpn/bot/.env
ExecStart=/opt/vicegram-bot-src/med-vpn/bot/venv/bin/python bot.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
